.nav-left {
    overflow-y: auto;
}

.nav-left::-webkit-scrollbar {
    width: 100px;
}

.nav-left::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}

.nav-left::-webkit-scrollbar-thumb {
    background: rgb(51, 0, 255);
    border-radius: 100px;
}

.nav-left::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 0, 0);
}

.nav-left {
    scrollbar-width: auto;
    scrollbar-color: rgb(255, 255, 255) rgba(0,53,95,1);
}

.contents {
    overflow-y: auto;
}

.contents::-webkit-scrollbar {
    width: 100px;
}

.contents::-webkit-scrollbar-track {
    background: rgba(202, 1, 1, 0.5);
    border-radius: 100px;
}

.contents::-webkit-scrollbar-thumb {
    background: rgb(51, 0, 255);
    border-radius: 100px;
}

.contents::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 0, 0);
}

.contents {
    scrollbar-width: thin;
    scrollbar-color: rgb(233, 0, 0) rgba(0,53,95,1);
}
