/* styles.css */

/* Navbar scrollbar styles */
.nav-left {
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Custom scrollbar styles for WebKit browsers */
.nav-left::-webkit-scrollbar {
    width: 100px; /* Width of the scrollbar */
}

.nav-left::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5); /* Background of the scrollbar track */
    border-radius: 100px; /* Rounded corners for track */
}

.nav-left::-webkit-scrollbar-thumb {
    background: rgb(51, 0, 255); /* Color of the scrollbar thumb */
    border-radius: 100px; /* Rounded corners for thumb */
}

/* Remove hover effect */
.nav-left::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 0, 0); /* Keep the color the same on hover */
}

/* For Firefox */
.nav-left {
    scrollbar-width: auto; /* Makes the scrollbar auto */
    scrollbar-color: rgb(255, 255, 255) rgba(0,53,95,1); /* Thumb and track color */
}

/* Contents scrollbar styles */
.contents {
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Custom scrollbar styles for WebKit browsers */
.contents::-webkit-scrollbar {
    width: 100px; /* Width of the scrollbar */
}

.contents::-webkit-scrollbar-track {
    background: rgba(202, 1, 1, 0.5); /* Background of the scrollbar track */
    border-radius: 100px; /* Rounded corners for track */
}

.contents::-webkit-scrollbar-thumb {
    background: rgb(51, 0, 255); /* Color of the scrollbar thumb */
    border-radius: 100px; 
}

.contents::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 0, 0); 
}

.contents {
    scrollbar-width: thin; /* Makes the scrollbar auto */
    scrollbar-color: rgb(233, 0, 0) rgba(0,53,95,1); /* Thumb and track color */
}
